
node_modules/

**/dist/
**/build/
*.tsbuildinfo

.env
.env.*
!.env.example
!deploy/.env.prod.example

*.log
**/logs/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

coverage/
.runtime/

*.md
!/README.md
!/changelog.md
!deploy/PRODUCTION.md
