
node_modules/

**/dist/
**/build/
*.tsbuildinfo

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

coverage/

*.md
!/README.md
!/changelog.md